body {    
    margin: 0 !important;
    padding: 0 !important;
}
#home{  margin: 0px 0px;
	background-image:url("headbg.jpg");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	text-align: center;
	}
.nav{
  	float: left;
	clear: both;
  	padding: 2.5vw 0px 2.5vw 0px;
	margin: 1vw 0px 1vw 0px;
	width: 100vw;
	text-align: center;
	}

.nav a{
	color: #10d3ed;
	font-family: 'PT Sans', sans-serif;
	padding: 0px 7vw 0px 7vw;
	font-size:25px;
	font-weight: bold;
	text-shadow: 0.7px 0.7px 2.5px #a36a6a;
	text-decoration: none;
	}

.nav a:hover{
  	color: rgb(206,66,66);
	text-decoration: none;
}
#headr{	
	clear: both;
	padding-left: 40vw;
	padding-top: 20vh;
	margin-bottom: 30vh;
	font-family: 'PT Sans', sans-serif;
	width: 50%;
	line-height: 1.2em;
	letter-spacing: 0.2em;
	float: left;
	clear: both;
}
#headr h1{
	text-align:center;
  	color:#ffffff;
  	text-shadow: 2px 2px 2px #000000;
  	margin: 0.8vw 0px 0px 0px;
}
#quote{
	float: left;
	clear: both;
	text-align: center;
	font-family: 'PT Sans', sans-serif;
    font-size: 35px;
    letter-spacing: 0.01em;
    color:#ffffff;
    text-shadow: 1.5px 1.5px 1.5px rgb(237, 78, 15);
}
.float{
clear: both;
}
#about{  margin: 0px 0px;
	background-image:url("footerbg.jpg");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	}
.aboutme{float:left;
	margin-top: 15vh;
	padding:0px 1vw 0px 1vw;
	width:30vw;
	height:85vh;
	border-width: 0px 2px 0px 0px;
	border-style: outset;
	border-color:#000000;
	line-height: 1.8em;
	font-weight: bold;
	text-align: center;
	font-size: 16px;
}
.interest{float:left;
	margin-top: 15vh;
	padding:0px 1vw 0px 1vw;
	width:30vw;
	height:85vh;
	border-width: 0px 2px 0px 0px;
	border-style: groove;
	border-color:#000000;
	text-align: right;
	font-weight: bold;
	font-size:18px;
}
#about h1,h2{
	color: #006400;
	text-shadow: 1px 1px 0px #00ff3b;
}
#about img{
    border-radius: 50%;
}
.teams{
	float:left;
	margin-top: 15vh;
	padding:0px 1vw 0px 1vw;
	width:30vw;
	height:85vh;
	font-weight: bold;
	font-size:18px;
	text-align: left;
}
.l{text-align: left;
	color:#000000;
	text-shadow: 1px 1px 1px #d3d3d3;}
.r{text-align: right;
	color:#228B22;
	text-shadow: -1px -1px 2px #d3d3d3;}
.l a{color:#000000;
	text-shadow: 1px 1px 1px #d3d3d3;
}
.r a{color:#228B22;
	text-shadow: -1px -1px 2px #d3d3d3;
}
.teams a,a:hover,a:visited{
	text-decoration: none;
}
.teams a:hover{
		color: #ff3232;
		text-shadow: 1px 1px 0px #000000;
}
#fun{
	background-color: #f4e8e8;
	text-align: center;
	width:100vw;
	height: 70vh;
	line-height: 2.5em;
	font-weight: bold;
	font-size:30px;
	font-family: 'PT Sans', sans-serif;
	color:#000000;
	text-shadow: 1px 1px 1px #d3d3d3;
	padding:1vw 0px 1vw 0px;
	margin: 0px;
}
#fun img{
border-radius: 50%;
vertical-align: middle;
}
#fun h1{
	color: #006400;
	text-shadow: 1px 1px 0px #00ff3b;
	font-size: 35px;
}
#fun a, #fun a:visited{
	text-decoration:none;
	color:#000000;
	text-shadow: 1px 1px 1px #d3d3d3;
}
#fun a:hover{
	color: #ff3232;
	text-shadow: -1px -1px 2px #d3d3d3;
}
#contact{
	width: 100vw;
	height:20vh;
	background-color: #a08d8d;
	font-size: 35px;
	text-align: center;
	word-spacing: 10vw;
	font-weight: bold;
	margin: 0px;
	padding: 1vw 0px 1vw 0px;
}
#contact img{
	border-radius: 5px;
	width: 50px;
	height:50px;
	vertical-align: middle;
}
#footer{
	width: 100vw;
	height:10vh;
	padding: 1vw 0px 1vw 0px;
	font-family: 'PT Sans', sans-serif;
	font-color:#ffffff;
	text-shadow: 0.75px 0.75px 0px #000000;
	font-height: 12px;
	text-align: center;
	background-color: #a08d8d;
	font-weight: bold;
	margin: 0px;
}
@media only screen and (max-width: 768px) {
}

